.custom-calendar {
  font-family: Arial, sans-serif;
  margin: 0 auto;
}

.react-calendar {
  border: none;
  border-radius: 5px;
  background-color: #fff;
  width: 90vw;
}

@media screen and (min-width: 769px) {
  .react-calendar {
    width: 450px;
  }
}

.react-calendar__tile {
  padding: 10px;
  text-align: center;
}

.react-calendar__tile--active {
  background-color: #007bff;
  color: white;
  /* border-radius: 5px; */
}

.react-calendar__tile--now {
  background-color: #c5caef;
}

.react-calendar__tile--today {
  font-weight: bold;
}

.react-calendar__navigation {
  /* background-color: #f5f5f5; */
  border-bottom: 1px solid #ddd;
  min-height: 44px;
  height: auto;
}

.react-calendar__navigation__label {
  font-weight: bold;
  color: #333;
}

.react-calendar__navigation__arrow {
  color: #007bff;
  font-size: 2.3rem;
}

.react-calendar__navigation__arrow.react-calendar__navigation__next2-button:disabled,
.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button:disabled {
  visibility: hidden;
}

.react-calendar__navigation__arrow.react-calendar__navigation__next-button:disabled,
.react-calendar__navigation__arrow.react-calendar__navigation__prev-button:disabled {
  background-color: #ffff;
}

.react-calendar__navigation__arrow:disabled {
  color: #1010104d;
}

.react-calendar__tile--active:enabled:hover {
  background-color: #0056b3;
}

.react-calendar__tile--now:enabled:hover {
  background-color: #e0e0e0;
}

.react-calendar__tile--now:enabled:focus {
  background-color: #ddd;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}
